div.sheetBox {
	border: 1px darkgray solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.4);
}
 div.smallBox {
 	min-height: 108px;
 }

 .abilityInput {
 	width: 100px;
 	height: 50px;
 	font-size: 35px;
 }

 .nameInput {
 	margin-top: 5px;
 	height: 50px;
 	font-size: 25px;
 }

 .skillSave {
 	display: inline;
 }

 input.skillSave {
 	margin-right: 5px;
 }