<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container-fluid" id="sheet1" ng-controller='CharactersNewCtrl'>
	<div class="row">
		<div class="col-md-3 sheetBox smallBox">
			<input type="text" name="characterName" ng-model="character.name" class="nameInput"/>
			<p>Character Name</p>
		</div>
		<div class="col-md-3 sheetBox smallBox">
			<div class="row">
				<div class="col-md-12 sheetBox">
					<select name="characterClass select" ng-model="character.characterClass.name" ng-change="saved(character.characterClass.name)">
						<option value="Cleric">Cleric</option>
						<option value="Fighter">Fighter</option>
						<option value="Rogue">Rogue</option>
						<option value="Wizard">Wizard</option>
					</select>
					<select name="level select" ng-model="character.level">
						<option value="1">1</option>
					</select>
					<p>Class &amp; Level</p>
				</div>
				<div class="col-md-12 sheetBox">
					<select name="race select" ng-model="character.race.race" ng-change="getRacialBonus(character.race.race)">
						<option value="Elf">Elf</option>
						<option value="Dwarf">Dwarf</option>
						<option value="Halfling">Halfling</option>
						<option value="Human">Human</option>
					</select>
					<select name="subrace select" ng-model="character.race.subrace" ng-change="getSubracialBonus(character.race.subrace)">
						<option value="{{selectSubrace(1)}}">{{selectSubrace(1)}}</option>
						<option value="{{selectSubrace(2)}}">{{selectSubrace(2)}}</option>
					</select>
					<p>Race &amp; Subrace</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 sheetBox smallBox">
			<div class="row">
				<div class="col-md-12 sheetBox">
					<select name="background select" ng-model="character.background.name" ng-change="skilled(character.background.name)">
						<option value="Acolyte">Acolyte</option>
						<option value="Criminal">Criminal</option>
						<option value="Folk Hero">Folk Hero</option>
						<option value="Sage">Sage</option>
						<option value="Soldier">Soldier</option>
					</select>
					<p>Background</p>
				</div>
				<div class="col-md-12 sheetBox">
					<select name="alignment select" ng-model="character.alignment">
						<option value="Lawful Good">Lawful Good</option>
						<option value="Neutral Good">Neutral Good</option>
						<option value="Chaotic Good">Chaotic Good</option>
						<option value="Lawful Neutral">Lawful Neutral</option>
						<option value="True Neutral">True Neutral</option>
						<option value="Chaotic Neutral">Chaotic Neutral</option>
						<option value="Lawful Evil">Lawful Evil</option>
						<option value="Neutral Evil">Neutral Evil</option>
						<option value="Chaotic Evil">Chaotic Evil</option>
					</select>
					<p>Alignment</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 sheetBox smallBox">
			<div class="row">
				<div class="col-md-12 sheetBox">
					<p>{{ getCurrentUser().name }}</p>
					<p>Player Name</p>
					<input type="text" style="display: none;" ng-model="character.user" value="{{getCurrentUser()._id}}"/>
				</div>
				<div class="col-md-12 sheetBox">
					<p>{{character.xp}}</p>
					<p>Experience Points</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 sheetBox">
			<div class="row">
				<div class="col-md-12 sheetBox">
					<h3> +2 </h3>
					<p>Proficiency Bonus</p>
				</div>
				<div class="col-md-12 sheetBox">
					<div class="row">
						<div class="col-md-4">
							<h3>{{ points(baseStr, baseDex, baseCon, baseIntel, baseWis, baseCha) }}</h3>
							<p>Point Buy</p>
						</div>
						<div class="col-md-8">
							<h3> {{ skillNumber() }} </h3>
							<p>Number of Class Skills</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div class="row">
						<div class="col-md-6">
							<input type="number" name="character str" ng-model="baseStr" value="{{baseStr}}" class="abilityInput" min="8" max="15" ng-change="totalStr(baseStr, racialBonusStr)"/>
							<p>Base <br> Strength</p>
						</div>
						<div class="col-md-6">
							<h3> {{racialBonusStr}} </h3>
							<p>Racial <br> Bonus</p>
						</div>
						<div class="col-md-12">
							<h3 class="abilityBonus">{{ abilityBonus(character.abilities.str) }}</h3>
							<p>Total Strength Bonus</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div><input class="skillSave" disabled="disabled" type="checkbox" ng-model="character.savingThrows.str" ><p class="skillSave">Saving Throws: {{ saveBonus(character.savingThrows.str, character.abilities.str) }}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Athletics')" ng-model="character.skills.athletics"><p class="skillSave" >Athletics: {{ skillBonus(character.skills.athletics, character.abilities.str) }}</p></div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 sheetBox">
					<div class="row">
						<div class="col-md-6">
							<input type="number" name="character dex" ng-model="baseDex" value="{{baseDex}}" class="abilityInput" min="8" max="15" ng-change="totalDex(baseDex, racialBonusDex)"/>
							<p>Base <br> Dexterity</p>
						</div>
						<div class="col-md-6">
							<h3> {{racialBonusDex}} </h3>
							<p>Racial <br> Bonus</p>
						</div>
						<div class="col-md-12">
							<h3 class="abilityBonus">{{ abilityBonus(character.abilities.dex) }}</h3>
							<p>Total Dexterity Bonus</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div><input class="skillSave" disabled="disabled" type="checkbox" ng-model="character.savingThrows.dex"><p class="skillSave">Saving Throws: {{ saveBonus(character.savingThrows.dex, character.abilities.dex) }}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Acrobatics')" ng-model="character.skills.acrobatics"><p class="skillSave">Acrobatics: {{skillBonus(character.skills.acrobatics, character.abilities.dex)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Sleight of Hand')" ng-model="character.skills.sleightOfHand"><p class="skillSave" >Sleight of Hand: {{skillBonus(character.skills.sleightOfHand, character.abilities.dex)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Stealth')" ng-model="character.skills.stealth"><p class="skillSave">Stealth: {{skillBonus(character.skills.stealth, character.abilities.dex)}}</p></div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 sheetBox">
					<div class="row">
						<div class="col-md-6">
							<input type="number" name="character con" ng-model="baseCon" value="{{baseCon}}" class="abilityInput" min="8" max="15" ng-change="totalCon(baseCon, racialBonusCon)"/>
							<p>Base <br> Constitution</p>
						</div>
						<div class="col-md-6">
							<h3> {{racialBonusCon}} </h3>
							<p>Racial <br> Bonus</p>
						</div>
						<div class="col-md-12">
							<h3 class="abilityBonus">{{ abilityBonus(character.abilities.con) }}</h3>
							<p>Total Constitution Bonus</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div><input class="skillSave" disabled="disabled" type="checkbox" ng-model="character.savingThrows.con"><p class="skillSave">Saving Throws: {{ saveBonus(character.savingThrows.con, character.abilities.con) }}</p></div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 sheetBox">
					<div class="row">
						<div class="col-md-6">
							<input type="number" name="character intel" ng-model="baseIntel" value="{{baseIntel}}" class="abilityInput" min="8" max="15" ng-change="totalIntel(baseIntel, racialBonusIntel)"/>
							<p>Base <br> Inteligence</p>
						</div>
						<div class="col-md-6">
							<h3> {{racialBonusIntel}} </h3>
							<p>Racial <br> Bonus</p>
						</div>
						<div class="col-md-12">
							<h3 class="abilityBonus">{{ abilityBonus(character.abilities.intel) }}</h3>
							<p>Total Inteligence Bonus</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div><input class="skillSave" disabled="disabled" type="checkbox" ng-model="character.savingThrows.intel"><p class="skillSave">Saving Throws: {{ saveBonus(character.savingThrows.intel, character.abilities.intel) }}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Arcana')" ng-model="character.skills.arcana"><p class="skillSave" >Arcana: {{skillBonus(character.skills.arcana, character.abilities.intel)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('History')" ng-model="character.skills.history"><p class="skillSave">History: {{skillBonus(character.skills.history, character.abilities.intel)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Investigation')" ng-model="character.skills.investigation"><p class="skillSave">Investigation: {{skillBonus(character.skills.investigation, character.abilities.intel)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Nature')" ng-model="character.skills.nature"><p class="skillSave">Nature: {{skillBonus(character.skills.nature, character.abilities.intel)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Religion')" ng-model="character.skills.religion"><p class="skillSave">Religion: {{skillBonus(character.skills.religion, character.abilities.intel)}}</p></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 sheetBox">
					<div class="row">
						<div class="col-md-6">
							<input type="number" name="character wis" ng-model="baseWis" value="{{baseWis}}" class="abilityInput" min="8" max="15" ng-change="totalWis(baseWis, racialBonusWis)"/>
							<p>Base <br> Wisdom</p>
						</div>
						<div class="col-md-6">
							<h3> {{racialBonusWis}} </h3>
							<p>Racial <br> Bonus</p>
						</div>
						<div class="col-md-12">
							<h3 class="abilityBonus">{{ abilityBonus(character.abilities.wis) }}</h3>
							<p>Total Wisdom Bonus</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div><input class="skillSave" disabled="disabled" type="checkbox"  ng-model="character.savingThrows.wis"><p class="skillSave">Saving Throws: {{ saveBonus(character.savingThrows.wis, character.abilities.wis) }}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Animal Handling')" ng-model="character.skills.animalHandling"><p class="skillSave" >Animal Handling: {{skillBonus(character.skills.animalHandling, character.abilities.wis)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Insight')" ng-model="character.skills.insight"><p class="skillSave">Insight: {{skillBonus(character.skills.insight, character.abilities.wis)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Medicine')" ng-model="character.skills.medicine"><p class="skillSave">Medicine: {{skillBonus(character.skills.medicine, character.abilities.wis)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Perception')" ng-model="character.skills.perception"><p class="skillSave">Perception: {{skillBonus(character.skills.perception, character.abilities.wis)}}</p></div>
					<div><input class="skillSave" type="checkbox" ng-disabled="classSkill('Survival')" ng-model="character.skills.survival"><p class="skillSave">Survival: {{skillBonus(character.skills.survival, character.abilities.wis)}}</p></div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 sheetBox">
					<div class="row">
						<div class="col-md-6">
							<input type="number" name="character cha" ng-model="baseCha" value="{{baseCha}}" class="abilityInput" min="8" max="15" ng-change="totalCha(baseCha, racialBonusCha)"/>
							<p>Base Charisma</p>
						</div>
						<div class="col-md-6">
							<h3> {{racialBonusCha}} </h3>
							<p>Racial <br> Bonus</p>
						</div>
						<div class="col-md-12">
							<h3 class="abilityBonus">{{ abilityBonus(character.abilities.cha) }}</h3>
							<p>Total Charisma Bonus</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 sheetBox">
					<div><input class="skillSave" disabled="disabled" type="checkbox" ng-model="character.savingThrows.cha"><p class="skillSave">Saving Throws: {{ saveBonus(character.savingThrows.cha, character.abilities.cha) }}</p></div>
					<div><input class="skillSave"type="checkbox" ng-disabled="classSkill('Deception')" ng-model="character.skills.deception"><p class="skillSave">Deception: {{skillBonus(character.skills.deception, character.abilities.cha)}}</p></div>
					<div><input class="skillSave"type="checkbox" ng-disabled="classSkill('Intimidation')" ng-model="character.skills.intimidation"><p class="skillSave">Intimidation: {{skillBonus(character.skills.intimidation, character.abilities.cha)}}</p></div>
					<div><input class="skillSave"type="checkbox" ng-disabled="classSkill('Performance')" ng-model="character.skills.performance"><p class="skillSave">Performance: {{skillBonus(character.skills.performance, character.abilities.cha)}}</p></div>
					<div><input class="skillSave"type="checkbox" ng-disabled="classSkill('Persuasion')" ng-model="character.skills.persuasion"><p class="skillSave">Persuasion: {{skillBonus(character.skills.persuasion, character.abilities.cha)}}</p></div>
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 sheetBox">
			<div class="row">
				<div class="col-md-4 sheetBox smallBox">
					<h3>{{ 10 + Math.floor((character.abilities.dex - 10)/2) }}</h3>
					<p>Armor Class</p>
				</div>
				<div class="col-md-4 sheetBox smallBox">
					<h3>{{ + abilityBonus(character.abilities.dex) }}</h3>
					<p>Initiative</p>
				</div>
				<div class="col-md-4 sheetBox smallBox">
					<h3>{{ speed(character.race.race, character.race.subrace) }}</h3>
					<p>Speed</p>
				</div>
				<div class="col-md-12 sheetBox smallBox">
					<h3>{{ maxHP(character.characterClass.name, abilityBonus(character.abilities.con), character.race.subrace)}}</h3>
					<p>Hit Point Maximum</p>
					<h3>&nbsp;</h3>
					<p>Current Hit Points</p>
				</div>
				<div class="col-md-12 sheetBox smallBox">
					<h2>&nbsp;</h2>
					<p>Temporary Hit Points</p>
				</div>
				<div class="col-md-6 sheetBox smallBox">
					<h3>{{ hitDie(character.characterClass.name) }}</h3>
					<p>Hit Dice</p>
				</div>
				<div class="col-md-6 sheetBox smallBox">
					<p>○ ○ ○ Successes</p>
					<p>○ ○ ○ Failures</p>
					<p>Death Saves</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 sheetBox">
			<div class="row">
				<div class="col-md-12 sheetBox smallBox">
					<select name="trait select" ng-model="character.background.trait">
						<option value="{{ selectTrait(1) }}"> {{ selectTrait(1)}} </option>
						<option value="{{ selectTrait(2) }}"> {{ selectTrait(2)}} </option>
						<option value="{{ selectTrait(3) }}"> {{ selectTrait(3)}} </option>
						<option value="{{ selectTrait(4) }}"> {{ selectTrait(4)}} </option>
						<option value="{{ selectTrait(5) }}"> {{ selectTrait(5)}} </option>
						<option value="{{ selectTrait(6) }}"> {{ selectTrait(6)}} </option>
						<option value="{{ selectTrait(7) }}"> {{ selectTrait(7)}} </option>
						<option value="{{ selectTrait(8) }}"> {{ selectTrait(8)}} </option>
					</select>
					<br>
					<p>{{ character.background.trait }}</p>
					<p>Personality Trait</p>
				</div>
				<div class="col-md-12 sheetBox smallBox">
					<select name="ideal select" ng-model="character.background.ideal">
						<option value="{{ selectIdeal(1) }}"> {{ selectIdeal(1)}} </option>
						<option value="{{ selectIdeal(2) }}"> {{ selectIdeal(2)}} </option>
						<option value="{{ selectIdeal(3) }}"> {{ selectIdeal(3)}} </option>
						<option value="{{ selectIdeal(4) }}"> {{ selectIdeal(4)}} </option>
						<option value="{{ selectIdeal(5) }}"> {{ selectIdeal(5)}} </option>
						<option value="{{ selectIdeal(6) }}"> {{ selectIdeal(6)}} </option>
					</select>
					<br>
					<p>{{ character.background.ideal }}</p>
					<p>Ideal</p>
				</div>
				<div class="col-md-12 sheetBox smallBox">
					<select name="bond select" ng-model="character.background.bond">
						<option value="{{ selectBond(1) }}"> {{ selectBond(1)}} </option>
						<option value="{{ selectBond(2) }}"> {{ selectBond(2)}} </option>
						<option value="{{ selectBond(3) }}"> {{ selectBond(3)}} </option>
						<option value="{{ selectBond(4) }}"> {{ selectBond(4)}} </option>
						<option value="{{ selectBond(5) }}"> {{ selectBond(5)}} </option>
						<option value="{{ selectBond(6) }}"> {{ selectBond(6)}} </option>
					</select>
					<br>
					<p>{{character.background.bond}}</p>
					<p>Bond</p>
				</div>
				<div class="col-md-12 sheetBox smallBox">
					<select name="flaw select" ng-model="character.background.flaw">
						<option value="{{ selectFlaw(1) }}"> {{ selectFlaw(1)}} </option>
						<option value="{{ selectFlaw(2) }}"> {{ selectFlaw(2)}} </option>
						<option value="{{ selectFlaw(3) }}"> {{ selectFlaw(3)}} </option>
						<option value="{{ selectFlaw(4) }}"> {{ selectFlaw(4)}} </option>
						<option value="{{ selectFlaw(5) }}"> {{ selectFlaw(5)}} </option>
						<option value="{{ selectFlaw(6) }}"> {{ selectFlaw(6)}} </option>
					</select>
					<br>
					<p>{{character.background.flaw}}</p>
					<p>Flaw</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 sheetBox">
			<div class="row">
				<div class="col-md-4 sheetBox">
					<p>Name</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>ATK Bonus</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>Damage/Type</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>Name</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>ATK Bonus</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>Damage/Type</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>Name</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>ATK Bonus</p>
				</div>
				<div class="col-md-4 sheetBox">
					<p>Damage/Type</p>
				</div>
				<div class="col-md-12 sheetBox">
					<p>Attacks &amp; Spellcasting</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 sheetBox">
			<p>Features &amp; Traits</p>
		</div>
		<div class="col-md-4 sheetBox">
			<p>Other Proficiencies &amp; Traits</p>
		</div>
		<div class="col-md-8 sheetBox">
			<div ng-show="isCleric()">
				<select name="clericWeaponSelect1" ng-model="character.classEquipment.weapon[0]">
					<option value="mace">mace</option>
					<option value="warhammer">warhammer (if proficient)</option>
				</select>
				<select name="clericArmorSelect" ng-model="character.classEquipment.armor[0]">
					<option value="scale mail">scale mail</option>
					<option value="leather armor">leather armor</option>
					<option value="chain mail">chain mail (if proficient)</option>
				</select>
				<select name="clericWeaponSelect2" ng-model="clericChoice" ng-change="clericChoiceFunc()">
					<option value="light crossbow">a light crossbow and 20 bolts</option>
					<option value="any simple weapon">any simple weapon</option>
				</select>
				<select ng-show="ifAnySimpleWeapon" ng-model="character.classEquipment.weapon[1]">
					<option value="{{ weapon.name }}" ng-repeat="weapon in weapons.simple">{{ weapon.name }}</option>
				</select>
				<select name="clericPackSelect" ng-model="character.classEquipment.pack">
					<option value="priest's pack">priest's pack</option>
					<option value="explorer's pack">explorer's pack</option>
				</select>
			</div>
			<div ng-show="isFighter()">
				<select name="fighterWeaponSelect1" ng-model="fighterChoice1" ng-change="fighterChoice1Func()">
					<option value="chain mail">chain mail</option>
					<option value="leather, longbow, and 20 arrows">leather armor, longbow, and 20 arrows</option>
				</select>
				<select name="fighterWeaponSelect2" ng-model="fighterChoice2" ng-change="fighterChoice2Func()">
					<option value="shield">a martial weapon and a shield</option>
					<option value="2 weapons">two martial weapons</option>
				</select>
				<select ng-show="isOneWeapon" ng-model="character.classEquipment.weapon[1]">
					<option value="{{weapon.name}}" ng-repeat="weapon in weapons.martial">{{ weapon.name }}</option>
				</select>
				<select ng-show="isTwoWeapons" ng-model="character.classEquipment.weapon[2]">
					<option value="{{weapon.name}}" ng-repeat="weapon in weapons.martial">{{ weapon.name }}</option>
				</select>
				<select name="fighterWeaponSelect3" ng-model="fighterChoice3" ng-change="fighterChoice3Func()">
					<option value="crossbow">a light crossbow and 20 bolts</option>
					<option value="handaxes">two handaxes</option>
				</select>
				<select name="fighterPackSelect" ng-model="character.classEquipment.pack">
					<option value="dungeoneer's pack">dungeoneer's pack</option>
					<option value="explorer's pack">explorer's pack</option>
				</select>
			</div>
			<div ng-show="isRogue()">
				<select name="rogueWeaponSelect1" ng-model="character.classEquipment.weapon[0]">
					<option value="rapier">rapier</option>
					<option value="shortsword">shortsword</option>
				</select>
				<select name="rogueWeaponSelect2" ng-model="rogueChoice1" ng-change="rogueChoice1Func()">
					<option value="shortbow">a shortbow and quiver of 20 arrows</option>
					<option value="shortsword">shortsword</option>
				</select>
				<select name="roguePackSelect" ng-model="character.classEquipment.pack">
					<option value="burglar's pack">burglar's pack</option>
					<option value="dungeoneer's pack">dungeoneer's pack</option>
					<option value="explorer's pack">explorer's pack</option>
				</select>
				<p>Rogue!</p>
			</div>
			<div ng-show="isWizard()">
				<p>Wizard!</p>
			</div>
			<p> {{ printEquipment() }} </p>
			<p>Equipment</p>
		</div>
		<button class="btn btn-large btn-warning" ng-click="addCharacter()">SAVE!</button>
	</div>
</div>