div.sheetBox {
	border: 1px #c77d11 solid;
	border-radius: 5px;
	background: rgba(251, 236, 214, 0.6);
}

div.innerBox {
	border: 1px #c77d11 solid;
	border-radius: 5px;
	background: clear;
}

div.smallBox {
 	min-height: 108px;
 }

 .abilityInput {
 	margin-top: 6px;
 	width: 70px;
 	height: 50px;
 	font-size: 35px;
 }

 .nameInput {
 	margin-top: 5px;
 	height: 50px;
 	font-size: 25px;
 }

 .skillSave {
 	display: inline;
 }

.abilityBonus {
	margin-top: 6px !important;
}
 input.skillSave {
 	margin-right: 5px;
 }